<div class='row center' id="greeting">
	<div class='col s12 m8 l6 offset-m2 offset-l3 center'>
		<h5 class='greeting form-background center'>Welcome, <%- user.firstname %>! What are we cooking today?</h5>
	</div>
</div>

<div class="column center">
	<div id="info">
		<div class="col s12 m8 l6">
			<h3>Your Information: </h3>
			<h6>Name: <%= user.firstname %> <%= user.lastname %></h6>
			<h6>Email: <%= user.email %></h6>
			<h6>Birthday: <%= user.birthday %></h6>
			<div><a href="profile/edit/<%= user.id %>">Edit Profile</a></div>
		</div>
	</div>
</div>



<div class="row">
    <div class="col s12 m7">
      <div class="faves">
				<h2>Your Favorites:</h2>
						<% faves.forEach((fave) => { %>
					<h4>Nutrition Details</h4>
          <form method="POST" action="/profile/favorites">
				<div class="card-image">
				<div class="responsive-img center">
          <input  name="label" value="<%= fave.label %>">
          <img src="<%= fave.image %>">
						<hr>
            <a href="<%= fave.url %>">Visit Page</a>
						</form>
						<br>
        <div class="card-action">
					<form action="/profile/?_method=DELETE" method="POST">
						<button><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">clear</i></a></button>
						<input type="hidden" name="id" value="<%= fave.id %>">
					</form>
				</div>
			<% }) %>
      </div>
    </div>
  </div>