<% recipes.forEach(recipe => { %>
<h1 class="center"><%= recipe.label %></h1>
  <div class="row">
    <form method="GET" action="/recipes">
      <div class="col s6">
        <div class="card">
          <div class="responsive-img">
            <img src="<%= recipe.image %>">
          </div>
          <div class="card-content">
            <div>
            <i class="material-icons">favorite</i>
            <h1 class="card-title"><%= recipe.ingredientsLabels %></h1>
              <p><strong>Ingredients:</strong><%= recipe.ingredients %></p>
              <p><strong>Diet Labels:</strong><%= recipe.dietLabels %></p>
              <p><strong>Health Labels:</strong><%= recipe.healthLabels %></p>
              <p><strong>Original Source:</strong><%= recipe.source %></p> 
            </div>
          </div>
          <div class="card-action">
            <a href="<%= recipe.url %>">Visit Page</a>
          </div>
        </div>
      </div>
    </form>
  </div>
<% }) %>



