  <div class="row">
<% recipes.forEach(recipe => { %>
    <div class="col s12 m7">
      <div class="card">
        <h5 class="center"><%= recipe.label %></h5>
        <div class="responsive-img center">
          <img src="<%= recipe.image %>">
        </div>
        <div class=" results card-content" >
            <form method="POST" action="/profile/favorites">
              <input type="hidden" name="label" value="<%= recipe.label %>">
              <input type="hidden" name="image" value="<%= recipe.image %>">
              <input type="hidden" name="url" value="<%= recipe.url %>">
            <button><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">favorite</i></a></button>
            </form>
              <p><strong>Diet Labels:</strong><%= recipe.dietLabels %></p>
              <p><strong>Health Labels:</strong><%= recipe.healthLabels %></p>
        </div>
        <div class="card-action center">
          <a href="<%= recipe.url %>">Visit Page</a>
        </div>
      </div>
    </div>
<% }) %>
  </div>

